* {
  margin: 0;
  padding: 0;
  font-family: poppins;
  /* border: 1px solid red; */
}
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

/* Header */
header {
  width: 100%;
  height: 80px;
  backdrop-filter: saturate(200%) blur(20px);
  background-color: rgba(255, 255, 255, 0.6);
  position: fixed;
  display: flex;
}
.nav {
  align-items: center;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  font-size: 14px;
}

#nav-title {
  margin-right: auto;
  font-size: 1em;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 10px;
}

header li {
  list-style: none;
  display: inline-block;
  padding: 0 20px;
}

header a {
  text-decoration: none;
  color: #555;
  transition: all 0.3s ease 0s;
}

header a:hover {
  color: #252525;
}

header li {
  list-style: none;
  display: inline-block;
  padding: 0 20px;
}
.btn-signup {
  background-color: #0185ff;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
}
.btn-signup:hover {
  color: rgb(238, 238, 238);
}
main {
  padding-top: 200px;
  display: flex;
  color: #143656;
  /* flex-direction: row; */
}
.jumbotron {
  flex-direction: row;
  display: flex;
  margin: auto;
}
.welcome {
  height: 473px;
  width: 718px;
  display: flex;
  /* background-color: red; */
}
.welcome-content {
  width: 316px;
  margin-top: auto;
  margin-bottom: auto;
}
.welcome-content h1 {
  font-size: 36px;
  font-weight: 600;
}
.welcome-content h6 {
  margin-top: 5px;
  font-size: 13px;
  font-weight: 400;
}
.welcome-content p {
  margin-top: 36px;
}
.welcome-content .btn-signup {
  margin-right: 16px;
}
.welcome-content .login {
  color: #0185ff;
  text-decoration: none;
}
.welcome-content .login:hover {
  color: #0185ff;
  text-decoration: underline;
}
.image-welcome {
  display: flex;
  height: 473px;
  width: 436px;
  /* background-color: rgb(94, 255, 0); */
}
.what-is {
  display: flex;
  margin-top: 202px;
  /* width: 100%; */
  height: 579px;
  background: #fbfdff;
  border-width: 1px 0px;
  border-style: solid;
  border-color: #e0e0e0;
  color: #143656;
}
.what-is-content {
  display: flex;
  margin: auto;
}
.kiri {
  width: 587px;
  /* background-color: red; */
  margin-top: auto;
  margin-bottom: auto;
}
.kiri img {
  float: left;
  margin-left: -70px;
}
.kanan {
  display: flex;
  width: 566px;
  /* background-color: red; */
}
.kanan-content {
  display: flex;
  margin-top: 76px;
  margin-bottom: auto;
  justify-content: space-between;
  /* background-color: blue; */
}
.kanan-content h1 {
  font-size: 36px;
  font-weight: 600;
}
.kanan-content h3 {
  margin-top: 9px;
  font-size: 20px;
  font-weight: 400;
}
.kanan-content p {
  margin-top: 20px;
  font-size: 13px;
  font-weight: 400;
}
.kanan-content-left {
  /* background-color: green; */
  width: 428px;
}
.kanan-content-right {
  margin-top: 50px;
  width: 86px;
  height: 260px;
  /* background-color: red; */
}
.kanan-content-left-content {
  width: 370px;
  /* background-color: lightblue; */
}
